
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body,html {

height:100%;
width:100%;
margin:0;
padding: 0;
background:#E9E9E9;
font-family: 'Roboto', sans-serif;

}

#main {

/*background: red;*/
width:100%;
height:100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

.mainWrapper {

background:#E9E9E9;
width:100%;
height:88%;
display: flex;
align-items: flex-start;
justify-content: flex-start;

}

.headingBox {

height:5em;
width:100%;
background: #FAFAFA;
box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.25);
display:flex;
justify-content: flex-start;
align-items:center;
text-indent: 2em;

}

.headingText {

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 22px;

color: #7A7A7A;

}

.accWrapper{

height:14em;
width:30em;
background:#FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
margin-top:6%;
margin-left:5%;

}