
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body,html {

height:100%;
width:100%;
margin:0;
padding: 0;
background:#E9E9E9;
font-family: 'Roboto', sans-serif;

}

#main {

/*background: red;*/
width:100%;
height:100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

.mainWrapper {

background:#E9E9E9;
width:100%;
height:88%;
display: flex;
align-items: center;
justify-content: center;

}

.middleWrapper {

width:80vw;
height:35vw;
/*background:orange;*/

}

.leftWrapper {

float:left;
height:100%;
width:50%;
/*background:yellow;*/
align-self:flex-start;
display:flex;
justify-content:space-between;
flex-direction:column;

}

.rightWrapper {

float:right;
height:100%;
width:50%;
/*background:blue;*/
	
}

.rightBox{

height:100%;
width:90%;
float:right;
background:#FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.upWrapper{

height:43%;
width:100%;
background:#FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.downWrapper {

height:47%;
width:100%;
background:#FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.headingBox {

height:5em;
width:100%;
background: #FAFAFA;
box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.25);
display:flex;
justify-content: flex-start;
align-items: center;
/*align-items:flex-start;
flex-direction:column;*/
text-indent: 2em;
/*padding-top:2%;*/

}

.headingText {

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 22px;
color: #7A7A7A;

}

.accText {

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 22px;
color: #7A7A7A;

}

.headingBoxTrans{

height:15%;
width:100%;
background: #FAFAFA;
box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.25);
display:flex;
justify-content: flex-start;
align-items:center;
text-indent: 2em;

}

.transactionWrap {

width:100%;
height:85%;
overflow-y:auto; 
overflow-x:hidden; 
overflow: scroll;
/*background: red;*/

}

.trans {

width:100%;
height:3em;
margin-top:2em;
background: #F3F3F3;
display:flex;

align-items: center;
justify-content: space-around;
font-size:1.1rem;

}

.transId {
height:50%;
margin-left:2%;
color:#A6A6A6;
}

.recNum {
height:50%;
color:#A6A6A6;
}

.amount {
height:50%;
align-items: flex-end;
color:#7A7A7A;

}

.value{
color:#7A7A7A;
}